<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package
			uri = "http://www.xtext.org/example/uidsl/UiDsl"
			class = "org.xtext.example.uidsl.uiDsl.UiDslPackage"
			genModel = "model/generated/UiDsl.genmodel" />
	</extension>
</plugin>
